.projects-page {
  display: flex;
  width: 100%;
  will-change: contents;
  height: 100vh;
  min-height: 566px;
  margin: 0 auto;
  z-index: 1;
  transform-style: preserve-3d;
  animation: fadeIn 1s forwards;
  animation-delay: 1s;
  margin-bottom: 300px;
  .text-zone {
    position: absolute;
    left: 10%;
    top: 10%;
    transform: translateY(-50%);
    width: 40%;
    max-height: 90%;
    h1{
    color: #FFD966;
    font-size: 53px;
    margin: 0;
    font-family: 'Coolvetica';
    font-weight: 400;
    }

  }
  .demo {
    display: flex;
    gap: 20px;
    width: 80%;
    height: 100%;
    top: 20%;
    position: absolute;
    right: 0;
    overflow: hidden;
    flex-wrap: wrap;
    .card {
      display: flex;
      .image {
        display: flex;
        width: 230px;
        height: 350px;
        overflow: hidden;
        justify-content: center;
        text-decoration: none;
        flex-direction: column;
        align-items: center;
        color: #FFD966;
        font-size: 15px;
        img{
          object-fit: cover;
        }
        &:hover {
          transform: scale(1.1);
          opacity: 0.8;
        }
      } 
      
    }
  }

}