.nav-bar {
  background-color: #17223B;
  width: 100vw;
  height: 55px;
  position: sticky;
  top: 0;
  z-index: 3;
  opacity: 0.9;
  display: flex;

  .logo {
    display: flex;
    padding: 8px 10px;
  align-items: center;
  justify-content: center;
  
    img {
      width: 35px;
      height: auto;
      object-fit: cover;
    }
    }
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 100px;
  height: 100%;
  width: 100%;
  margin: 5px 450px;

  a {
      font-size: 30px;
      color: #707076;
      display: block;
      line-height: 50px;
      height: 50px;
      position: relative;
      text-decoration: none;
      cursor: pointer;
     
      i {
         transition: all 0.3s ease-out;
      }
      &:hover {
        color: #ffd700;

        svg {
          opacity: 0;
        }

        &::after {
          opacity: 1;
        }
      }

      &::after{
        content:'';
        font-size: 18px;
        letter-spacing: 2px;
        position: absolute;
        bottom: 0;
        display: block;
        width: 100%;
        text-align: center;
        opacity: 0;
        transition:all 0.3s ease-out;
      }     
  }
  a.home-link {
    &::after {
      content: 'Home';
    }
  }
  a.about-link {
    &::after{
      content: 'About';
    }
  }
  a.contact-link {
    &::after{
      content: 'Contact';
    }
  }
  a.projects-link {
    &::after{
      content: 'Projects';
    }
  }
  a.active {
   svg {
    color: #FFD966;
   }
  }
}
ul {
 display: flex;
  width: 100%;
  padding: 0;
  list-style: none;
  text-align: center;
  margin: 20px -60px 20px;
  gap: 13px;

  li {
    a{
      display: block;
      font-size: 23px;
      line-height: 20px;
    }
    a:hover svg {
      color: #FFD966;
    }
  }
}
